.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.chrome
.DS_STORE
node_modules
coverage
.module-cache
*.log*
build
dist
dist-lib
dist-module
.chrome
.idea
package
*.tgz
*.orig
MakePackageAndDeploy.bat
